/* .header {
  display: flex;
  justify-content: space-between;
 
  color: white;
}

.logo {
  width: 10rem;
  height: 3rem;
}

.header-menu {
  list-style: none;
  display: flex;
  gap: 2rem;
  color: white;
}

.header-menu > li:hover {
  cursor: pointer;
  color: lightcoral;
}

@media screen and (max-width: 768px) {
  .header > :nth-child(2) {
    position: fixed;
    right: 2rem;
    z-index: 99;
  }

  .header-menu {
    flex-direction: column;
    background-color: lightcoral;
    padding: 2rem;
  }
} */
/* .header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px; /* Adjust height as needed */
  /* background-color: var(--appColor); */


.logo {
  height: 50px; /* Adjust logo size as needed */
  margin-right: auto; /* Push logo to the left */
  margin-left: 20px; /* Adjust left margin as needed */
}

.header-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  margin: 0 10px; /* Adjust spacing between menu items */
}

.header-menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px; /* Adjust font size as needed */
  transition: color 0.3s ease;
}

.header-menu li a:hover {
  color: lightcoral; /* Change color on hover */
} 
